name: Web

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "beta"

      - name: Install dependencies
        run: flutter pub get

      - name: Build Web
        run: flutter build web --wasm --release --base-href=/piq/

      - name: Deploy to gh-pages
        run: |
          cd build/web
          git init
          git config user.email "github-actions@github.com"
          git config user.name "github-actions"
          git add .
          git commit -m "Deploy to gh-pages"
          git branch -M gh-pages
          git remote add origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/iapsicopatologia/piq.git
          git push -f origin gh-pages
